#navlist {
        margin-left: 0;
        border-bottom: 1px solid #808080;
        font-style:normal; font-variant:normal; font-weight:normal; font-size:11px; font-family:Tahoma; margin-bottom:0; padding-left:5px; padding-right:0; padding-top:3px; padding-bottom:1px; color:#FFFFFF; border-left-width:1px; border-right-width:1px; border-top-width:1px; 
}

#navlist li {
        margin: 0;
        display: inline; list-style-type:none; color:#FFFFFF
}

#navlist li a {
        background-position: 
               0% 0%; border-left:1px solid #C0C0C0; border-right:1px solid #C0C0C0; border-top:1px solid #C0C0C0; 
        text-decoration: none; color:#000000; padding-left:10px; padding-right:10px; padding-top:3px; padding-bottom:3px; background-image:url('../images/table_bg_light_gray.jpg'); background-repeat:repeat; background-attachment:scroll
}

#navlist li a:visited { color: #000000; }

#navlist li a:hover {
        border-top:1px solid #FF6600; background-position: 0% 0%; color: #0000FF;
        border-left-width:1px; border-right-width:1px; border-bottom-width:1px; background-image:url('../images/table_bg_light_gray.jpg'); background-repeat:repeat; background-attachment:scroll
        
}

#navlist li a#DataEntryCurrent {
        border-left:1px solid #808080; border-right:1px solid #808080; border-top:2px solid #FF6600; background-position: 
               0% 0%; color:#0000FF;
        border-bottom: 1px solid #C0C0C0;; background-image:url('../images/table_bg_light_gray.jpg'); background-repeat:repeat; background-attachment:scroll
}