    #tabsB {
      border-bottom:1px solid #C0C0C0; float:left;
      width:100%;
      font-size:93%;
      line-height:normal; border-left-width:1px; border-right-width:1px; border-top-width:1px; text-align:center
      }
    #tabsB ul {
        margin:0;
        padding:10px 10px 0px 5px;
        list-style:none;
        
      }
    #tabsB li {
      display:inline;
      margin:0;
      padding:0;
    }
    #tabsB a {
      background-position: left top; float:left;
      margin:0;
      width: 190px;
      
      text-decoration:none; color:#000000; padding-left:4px; padding-right:0; padding-top:0; padding-bottom:0; background-image:url('tableftB.gif'); background-repeat:no-repeat; background-attachment:scroll
      }
    #tabsB a span {
      background-position: 
               right top; float:left;
      display:block;
      color:#000000;padding-left:6px; padding-right:15px; padding-top:5px; padding-bottom:4px; background-image:url('tabrightB.gif'); background-repeat:no-repeat; background-attachment:scroll
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsB a span {float:none;}
    /* End IE5-Mac hack */
    #tabsB a:hover span {
      color:#000;
      }
    #tabsB a:hover {
      background-position:0% -42px;
      }
    #tabsB a:hover span {
      background-position:100% -42px;
      }

        #tabsB #ProjectCurrent a {
                background-position:0% -42px;
        }
        #tabsB #ProjectCurrent a span {
                background-position: 100% -42px; color:#000080;
        }